
---
import '../styles/global.css'

const pageTitle = "About Me";

const identity = {
	firstName : "Sarah",
	country : "Canada",
	occupation : "Technical Writer",
	hobbies : [" La photographie", "L'Observation des oiseaux", "baseball"],
};
const skills = ["HTML", "CSS", "JS", "Astro", "Linux"];
const happy = true;
const finished = false;
const goal = 3;
const operatingSystem = "Linux";

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "upperCase";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<style define:vars= {{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}

			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
    <a href="/">Accueil</a>
    <a href="/A propos">A propos</a>
    <a href="/blog/">Blog</a>
		
		<h1>{pageTitle}</h1>
      <h2>... et mon nouveau Site Astro !</h2>
      <p>Je travaille en ce moment, sur le tutoriel "Créer un blog" Astro.
        Ceci est la seconde page de mon site web.
      </p>
      <p>Ce site se mettra à jour au fur et à mesure, que j'avancerai dans le tutoriel.</p>
			<p>Quelques infos à mon propos</p>
				<ul>
					<li>Mon prénom est {identity.firstName}.</li>
					<li>Je vis au {identity.country} et je travaille comme {identity.occupation}.</li>
					<li>Deux de mes passions sont : {identity.hobbies[0]} et {identity.hobbies[1]}. </li>
				</ul>
				<p>Mes compétences sont :</p>
					<ul>
						{skills.map((skill) => <li class="skill">{skill}</li>)}
					</ul>
				{happy && <p>I am happy to be learning Astro!</p>}
				{finished && <p>I finished this tutorial!</p>}
				{/*goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>*/}
				{operatingSystem === "MacOS" ? <p>I am using a Mac.</p> : <p>I am not using a Mac.</p>}
    
	</body>
</html>